.box-table{
    // position: relative;
    background-color: white;
     margin-right: 1rem;
     margin-top: 1rem;
     border-radius: 5px;
}
tr{
    font-size: 10px;
}
.table{
    border-radius: 5px;
}
button{
    // padding: ;
}
.title{
    margin: 1rem;
}
.titlehd{
    font-size: 2rem;
    
}
// .modal{
  
// }
.modal-box{
   background-color: var(--main);
   //margin: 6rem;
}