
<input type="checkbox" id="my-modal-5" class="modal-toggle" />


<div class="modal">
  <div class="modal-box ">

        <app-add-users></app-add-users>

    <div class="modal-action">
      <label for="my-modal-5" class="btn">close!</label>
    </div>
  </div>
</div>









<div class="box-table">
   <div class="title">
    <h3 class="titlehd">Employee list</h3>

   </div>
    <!-- <table style="margin-top: 1rem;" class="table w-full table-responsive row-border hover stripe compact table-striped table-bordered"  datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"> -->
      <table style="margin-top: 1rem;" class="table w-full table-responsive row-border hover stripe compact table-striped table-bordered"  >
      <!-- head -->
      <thead>
        <tr>
          <th class="font-bold">Full Names</th>
          <th class="font-bold">Employee Id</th>
          <th class="font-bold">Email</th>
          <th class="font-bold">Department</th>
          <th  class="font-bold">#</th>
        </tr>
      </thead>


      <tbody>
        <tr  *ngFor="let item of usersList | paginate:{
          itemsPerPage:tableSize,
          currentPage: page,
          totalItems:count }; let i = index">
         
          <td>
            <div class="flex items-center space-x-3">
          
              <div>
                <div>{{item.surname + "    "+ item.name}}</div>
               
              </div>
            </div>
          </td>
          <td>{{item.email}}</td>
          <td>
            {{item.email}}
            <br/><br>
            <span class="badge badge-ghost badge-sm">{{item.contacts}}</span>
          </td>
          <td>{{item.department}}</td>
          <th>
            <button [routerLink]="['/Profile']" routerLinkActive="router-link-active"  class=" btn btn-ghost btn-xs">details</button>
          </th>
        </tr>
      
   
      </tbody>
    
      <tfoot>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th>
            <label for="my-modal-5" style="background-color: var(--dark-gr);"  class="btn">Add users</label>
          </th>
          
        </tr>
      </tfoot>

    </table>
    <div>
      <pagination-controls previousLabel = "Prev"
      nextLabel = "Next"
      (pageChange)="onTableDataChange($event)">

      </pagination-controls>
    </div> 
    
   
  </div>


 

  

  