<app-nav></app-nav>
<div class="main">
    <!-- Another variation with a button -->
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search this blog">
      <div class="input-group-append">
        <button class="btn " type="button">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
  </div>
  
  <!-- <table class="table">
    <tr>
        <th> Name</th>
        <th> Surname</th>
        <th>Date </th>
        <th> Time</th>
        <th>Status </th>
        <th>Department </th>
    </tr>
    <tr *ngFor="let o of attendance">
        <td>{{o.Name}}</td>
        <td>{{o.Surname}}</td>
        <td>{{o.Date}}</td>
        <td>{{o.Status}</td>
        <td>{{o.Department}}</td>
    </tr>
  </table> -->
  