
.main {

    margin: 50px auto;
    padding-right:  10rem;
    padding-top: 1rem;
    position: absolute;
    top: 10;
    right: 60;
    color: var(--main);
}
.btn{
    background-color: var(--btn-col);
}

